.odd{ 
    background-color: pink;  
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
    
    }

    #number2{
        font-size: 36px;
        color: blue;
    }

.odd.special{
    font-size: 24px;
}

    #number4{
        background-color: lightgreen;
        font-size: 24px;
    
    }